<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>글 삭제</title>
</head>
<body>
	<div align="center">
		<div th:if="${msg != null}">
			<div th:text="${msg}" style="color: red; font-size: 14px;"></div>
		</div>
		<form action="/board/delete" method="post">
			<input type="hidden" name="num" th:value="${num}"	/>
			<table style="width: 240px; border: 1px solid;">
				<tr>
					<td align="center">비밀번호 확인 : </td>
					<td>
						<input type="password" size="10" maxlength="12" name="passwd"		/>
					</td>
				</tr>
			</table>
			<br />
			<button type="submit">삭제</button>
			<button type="button" onclick="location.href='/board/list'">메인</button>
		</form>
	</div>
	<div th:if="${result} == 1">
		<script>
			alert('삭제가 완료되었습니다.');
			location.href='/board/list';
		</script>
	</div>
</body>
</html>