<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>회원가입</title>
</head>
<body>
	<div th:unless="${result == 1}">
		<form action="/test/insert" method="post">
			<div align="center">
				<table style="border: 1px solid;">
					<tr>
						<td align="center">
							<label for="username">아이디 : </label>
						</td>
						<td>
							<input type="text" name="username" id="username" size="10px" required	/>
						</td>
					</tr>
					<tr>
						<td align="center">
							<label for="password">비밀번호 : </label>
						</td>
						<td>
							<input type="password" name="password" id="password" size="10px" required	/>
						</td>
					</tr>
					<tr>
						<td align="center">
							<label for="age">나이 : </label>
						</td>
						<td>
							<input type="number" name="age" id="age" max="99" style="width: 30px;" 	/>
						</td>
					</tr>
					<tr>
						<td align="center">
							<label>생일 : </label>
						</td>
						<td>
							<input type="date" name="birth" style="width: 102px;"	/>
						</td>
					</tr>
					<tr>
						<td colspan="2" align="center">
							<button type="submit">회원가입</button>
						</td>
					</tr>
				</table>
			</div>
		</form>
	</div>
	<div th:if="${result == 1}">
		<script>
			alert('회원가입이 완료되었습니다.');
			location.href='/test/main';
		</script>
	</div>
</body>
</html>