<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>정보수정</title>
</head>
<body>
	<div th:unless="${result == 1}">
		<form action="/test/update" method="post">
			<div align="center">
				<table style="border: 1px solid;">
					<tr>
						<td align="center">
							<label for="username">아이디 : </label>
						</td>
						<td>
							<div th:text="${testDTO.username}"></div>
							<input type="hidden" name="username" th:value="${testDTO.username}"	/>
						</td>
					</tr>
					<tr>
						<td align="center">
							<label for="password">비밀번호 : </label>
						</td>
						<td>
							<input type="password" name="password" id="password" size="10px" required	/>
						</td>
					</tr>
					<tr>
						<td align="center">
							<label for="age">나이 : </label>
						</td>
						<td>
							<input type="number" name="age" th:value="${testDTO.age}" id="age" max="99" style="width: 30px;" 	/>
						</td>
					</tr>
					<tr>
						<td align="center">
							<label>생일 : </label>
						</td>
						<td>
							<input type="date" name="birth" th:value="${testDTO.birth}" style="width: 102px;"	/>
						</td>
					</tr>
					<tr>
						<td colspan="2" align="center">
							<button type="submit">수정하기</button>
						</td>
					</tr>
				</table>
				<a href="/test/main">메인</a>
			</div>
		</form>
	</div>
	<div th:if="${result == 1}">
		<script>
			alert('정보수정이 완료되었습니다.');
			location.href='/test/myInfo';
		</script>
	</div>
</body>
</html>